{% extends 'OnAlert/basic.html' %} {% block title %} Notification {% endblock %}
{% block body %}
<div>
    <h3>Notify For</h3>
    <div>
        <h1>Selected</h1>
        {% for contest in selected_contests %}
        <div>
            {{contest.platform_name}}
            <a href="remove/{{contest.platform_name}}">Remove</a>
        </div>
        {% endfor %}
        <h1>Un-Selected</h1>
        {% for contest in unselected_contests %}
        <div>
            {{contest.platform_name}}
            <a href="add/{{contest.platform_name}}">Add</a>
        </div>
        {% endfor %}
    </div>

    <a href="/get_notification"><button>Notify</button></a>
    <a href="/"><button>Back To Home</button></a>
</div>

{% endblock %}
