{% extends 'OnAlert/basic.html' %} {% block title %} Notification {% endblock %}
{% block body %}

<h3>Notification On</h3>

<div>
    <h3>Notify For</h3>
    <form method="post">{% csrf_token %} 

        <div>
            {% for contest in contests %}
            <div>
                <input type="checkbox" name="platform" value="{{contest.platform}}" />{{contest.platform}}
            </div>
            {% endfor %}
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

{% endblock %}
