{% extends 'OnAlert/basic.html' %} {% block title %} Notification {% endblock %}
{% block body %}
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h3>Notify For</h3>
    <form>{% csrf_token %}

        <div>
            {% for contest in contests %}
            <div>
                {% comment %} <input type="checkbox" name="platform_name[]" value="{{contest.platform_name}}" />{{contest.platform_name}} {% endcomment %}
                <ul>
                    <li>{{contest.platform_name}}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </form>
    
    <a href="/set_notification"><button>Edit</button></a>
    <a href="/"><button>Back To Home</button></a>
</div>

{% endblock %}