{% extends 'basic.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/CSSPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/easing/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/contents.css' %}">
{% endblock style %}

{% block body %}
<style>body{
  margin-bottom: 1px;
}
</style>
  <div class="topele">
    <h1 class="h1text">CONTESTS</h1>
    <div class="buttons">
      <a href="/set_notification"> <button class="blob-btn">
          CLICK HERE FOR PERSONALISED CONTENTS.
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button></a>
      <br />

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
            </feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3">

    {% for contest in contests %}
    <div class="col">
      <div id="cards" class="card h-100 ">
        <h4 style="min-width: 431px; min-height: 50px;"><a href="{{contest.platform.platform_link}}"
            style="text-decoration: none;" target="_blank"><img src="/media/{{contest.platform.platform_img}}/" id="space">{{contest.platform}}</a></h4>
        <div class="card-body">
          <h5 class="card-title"><a href="{{contest.contest_link}}" target="_blank" rel="noopener noreferrer"
              style="color: black;">{{contest.contest}}</a></h5>
          <p class="card-text">{{contest.when}}</p>
          <p class="card-text">{{contest.duration}} Hrs</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

{% endblock body %}


  <script>
    document.getElementById("login-btn").addEventListener("click", function () {
      document.querySelector("login-form").style.display = "flex";
    })

  </script>
  <!-- <script>
    var modal = document.getElementById('login-form');
    window.onclick = function(event) 
    {
        if (event.target == modal) 
        {
            modal.style.display = "none";
        }
    }
  </script> -->
  <script>
    console.clear();

    // const loginBtn = document.getElementById('login');
    // const signupBtn = document.getElementById('signup');

    loginBtn.addEventListener('click', (e) => {
      let parent = e.target.parentNode.parentNode;
      Array.from(e.target.parentNode.parentNode.classList).find((element) => {
        if (element !== "slide-up") {
          parent.classList.add('slide-up')
        } else {
          signupBtn.parentNode.classList.add('slide-up')
          parent.classList.remove('slide-up')
        }
      });
    });

    signupBtn.addEventListener('click', (e) => {
      let parent = e.target.parentNode;
      Array.from(e.target.parentNode.classList).find((element) => {
        if (element !== "slide-up") {
          parent.classList.add('slide-up')
        } else {
          loginBtn.parentNode.parentNode.classList.add('slide-up')
          parent.classList.remove('slide-up')
        }
      });
    });
  </script>

  <script>
    $('.button--bubble').each(function () {
      var $circlesTopLeft = $(this).parent().find('.circle.top-left');
      var $circlesBottomRight = $(this).parent().find('.circle.bottom-right');

      var tl = new TimelineLite();
      var tl2 = new TimelineLite();

      var btTl = new TimelineLite({ paused: true });

      tl.to($circlesTopLeft, 1.2, { x: -25, y: -25, scaleY: 2, ease: SlowMo.ease.config(0.1, 0.7, false) });
      tl.to($circlesTopLeft.eq(0), 0.1, { scale: 0.2, x: '+=6', y: '-=2' });
      tl.to($circlesTopLeft.eq(1), 0.1, { scaleX: 1, scaleY: 0.8, x: '-=10', y: '-=7' }, '-=0.1');
      tl.to($circlesTopLeft.eq(2), 0.1, { scale: 0.2, x: '-=15', y: '+=6' }, '-=0.1');
      tl.to($circlesTopLeft.eq(0), 1, { scale: 0, x: '-=5', y: '-=15', opacity: 0 });
      tl.to($circlesTopLeft.eq(1), 1, { scaleX: 0.4, scaleY: 0.4, x: '-=10', y: '-=10', opacity: 0 }, '-=1');
      tl.to($circlesTopLeft.eq(2), 1, { scale: 0, x: '-=15', y: '+=5', opacity: 0 }, '-=1');

      var tlBt1 = new TimelineLite();
      var tlBt2 = new TimelineLite();

      tlBt1.set($circlesTopLeft, { x: 0, y: 0, rotation: -45 });
      tlBt1.add(tl);

      tl2.set($circlesBottomRight, { x: 0, y: 0 });
      tl2.to($circlesBottomRight, 1.1, { x: 30, y: 30, ease: SlowMo.ease.config(0.1, 0.7, false) });
      tl2.to($circlesBottomRight.eq(0), 0.1, { scale: 0.2, x: '-=6', y: '+=3' });
      tl2.to($circlesBottomRight.eq(1), 0.1, { scale: 0.8, x: '+=7', y: '+=3' }, '-=0.1');
      tl2.to($circlesBottomRight.eq(2), 0.1, { scale: 0.2, x: '+=15', y: '-=6' }, '-=0.2');
      tl2.to($circlesBottomRight.eq(0), 1, { scale: 0, x: '+=5', y: '+=15', opacity: 0 });
      tl2.to($circlesBottomRight.eq(1), 1, { scale: 0.4, x: '+=7', y: '+=7', opacity: 0 }, '-=1');
      tl2.to($circlesBottomRight.eq(2), 1, { scale: 0, x: '+=15', y: '-=5', opacity: 0 }, '-=1');

      tlBt2.set($circlesBottomRight, { x: 0, y: 0, rotation: 45 });
      tlBt2.add(tl2);

      btTl.add(tlBt1);
      btTl.to($(this).parent().find('.button.effect-button'), 0.8, { scaleY: 1.1 }, 0.1);
      btTl.add(tlBt2, 0.2);
      btTl.to($(this).parent().find('.button.effect-button'), 1.8, { scale: 1, ease: Elastic.easeOut.config(1.2, 0.4) }, 1.2);

      btTl.timeScale(2.6);

      $(this).on('mouseover', function () {
        btTl.restart();
      });
    });
  </script>

</body>

</html>


{% comment %}

{% extends 'basic.html' %}

{% load static %}


{% block style %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
<link rel="stylesheet" href="{% static 'css/contents.css' %}">


{% endblock style %}


{% block body %}

<div>
  <div class="topele">
    <h1 class="h1text">CONTESTS</h1>
    <div class="buttons">
      <a href="/set_notification"> <button class="blob-btn">
          CLICK HERE FOR PERSONALISED CONTENTS.
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button></a>
      <br />

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
            </feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 ">

    <div class="col ">
      <div id="cards" class="card h-100 ">
        <img src="/static/images/Blue Dynamic Fashion Special Sale Banner.png" class="card-img-top"
          alt="/static/images/Blue Dynamic Fashion Special Sale Banner.png">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consectetur
            consequatur qui commodi libero reprehenderit deleniti, dignissimos nostrum autem est excepturi provident
            quasi velit? Sapiente, excepturi hic. Sed, voluptatibus aliquid. .</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="cards" class="card h-100 ">
        <img src="/static/images/Blue Dynamic Fashion Special Sale Banner.png" class="card-img-top"
          alt="/static/images/Blue Dynamic Fashion Special Sale Banner.png">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consectetur
            consequatur qui commodi libero reprehenderit deleniti, dignissimos nostrum autem est excepturi provident
            quasi velit? Sapiente, excepturi hic. Sed, voluptatibus aliquid. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="cards" class="card h-100 ">
        <img src="/static/images/Blue Dynamic Fashion Special Sale Banner.png" class="card-img-top"
          alt="/static/images/Blue Dynamic Fashion Special Sale Banner.png">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consectetur
            consequatur qui commodi libero reprehenderit deleniti, dignissimos nostrum autem est excepturi provident
            quasi velit? Sapiente, excepturi hic. Sed, voluptatibus aliquid. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="cards" class="card h-100">
        <img src="/static/images/Blue Dynamic Fashion Special Sale Banner.png" class="card-img-top"
          alt="/static/images/Blue Dynamic Fashion Special Sale Banner.png">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consectetur
            consequatur qui commodi libero reprehenderit deleniti, dignissimos nostrum autem est excepturi provident
            quasi velit? Sapiente, excepturi hic. Sed, voluptatibus aliquid.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="cards" class="card h-100">
        <img src="/static/images/Blue Dynamic Fashion Special Sale Banner.png" class="card-img-top"
          alt="/static/images/Blue Dynamic Fashion Special Sale Banner.png">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consectetur
            consequatur qui commodi libero reprehenderit deleniti, dignissimos nostrum autem est excepturi provident
            quasi velit? Sapiente, excepturi hic. Sed, voluptatibus aliquid</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="cards" class="card h-100">
        <img src="/static/images/Blue Dynamic Fashion Special Sale Banner.png" class="card-img-top"
          alt="/static/images/Blue Dynamic Fashion Special Sale Banner.png">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consectetur
            consequatur qui commodi libero reprehenderit deleniti, dignissimos nostrum autem est excepturi provident
            quasi velit? Sapiente, excepturi hic. Sed, voluptatibus aliquid</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}

{% block script %}

<script>
  document.getElementById("login-btn").addEventListener("click", function () {
    document.querySelector("login-form").style.display = "flex";
  })

</script>
<!-- <script>
    var modal = document.getElementById('login-form');
    window.onclick = function(event) 
    {
        if (event.target == modal) 
        {
            modal.style.display = "none";
        }
    }
  </script> -->
<script>
  console.clear();

  const loginBtn = document.getElementById('login');
  const signupBtn = document.getElementById('signup');

  loginBtn.addEventListener('click', (e) => {
    let parent = e.target.parentNode.parentNode;
    Array.from(e.target.parentNode.parentNode.classList).find((element) => {
      if (element !== "slide-up") {
        parent.classList.add('slide-up')
      } else {
        signupBtn.parentNode.classList.add('slide-up')
        parent.classList.remove('slide-up')
      }
    });
  });

  signupBtn.addEventListener('click', (e) => {
    let parent = e.target.parentNode;
    Array.from(e.target.parentNode.classList).find((element) => {
      if (element !== "slide-up") {
        parent.classList.add('slide-up')
      } else {
        loginBtn.parentNode.parentNode.classList.add('slide-up')
        parent.classList.remove('slide-up')
      }
    });
  });
</script>

<script>
  $('.button--bubble').each(function () {
    var $circlesTopLeft = $(this).parent().find('.circle.top-left');
    var $circlesBottomRight = $(this).parent().find('.circle.bottom-right');

    var tl = new TimelineLite();
    var tl2 = new TimelineLite();

    var btTl = new TimelineLite({ paused: true });

    tl.to($circlesTopLeft, 1.2, { x: -25, y: -25, scaleY: 2, ease: SlowMo.ease.config(0.1, 0.7, false) });
    tl.to($circlesTopLeft.eq(0), 0.1, { scale: 0.2, x: '+=6', y: '-=2' });
    tl.to($circlesTopLeft.eq(1), 0.1, { scaleX: 1, scaleY: 0.8, x: '-=10', y: '-=7' }, '-=0.1');
    tl.to($circlesTopLeft.eq(2), 0.1, { scale: 0.2, x: '-=15', y: '+=6' }, '-=0.1');
    tl.to($circlesTopLeft.eq(0), 1, { scale: 0, x: '-=5', y: '-=15', opacity: 0 });
    tl.to($circlesTopLeft.eq(1), 1, { scaleX: 0.4, scaleY: 0.4, x: '-=10', y: '-=10', opacity: 0 }, '-=1');
    tl.to($circlesTopLeft.eq(2), 1, { scale: 0, x: '-=15', y: '+=5', opacity: 0 }, '-=1');

    var tlBt1 = new TimelineLite();
    var tlBt2 = new TimelineLite();

    tlBt1.set($circlesTopLeft, { x: 0, y: 0, rotation: -45 });
    tlBt1.add(tl);

    tl2.set($circlesBottomRight, { x: 0, y: 0 });
    tl2.to($circlesBottomRight, 1.1, { x: 30, y: 30, ease: SlowMo.ease.config(0.1, 0.7, false) });
    tl2.to($circlesBottomRight.eq(0), 0.1, { scale: 0.2, x: '-=6', y: '+=3' });
    tl2.to($circlesBottomRight.eq(1), 0.1, { scale: 0.8, x: '+=7', y: '+=3' }, '-=0.1');
    tl2.to($circlesBottomRight.eq(2), 0.1, { scale: 0.2, x: '+=15', y: '-=6' }, '-=0.2');
    tl2.to($circlesBottomRight.eq(0), 1, { scale: 0, x: '+=5', y: '+=15', opacity: 0 });
    tl2.to($circlesBottomRight.eq(1), 1, { scale: 0.4, x: '+=7', y: '+=7', opacity: 0 }, '-=1');
    tl2.to($circlesBottomRight.eq(2), 1, { scale: 0, x: '+=15', y: '-=5', opacity: 0 }, '-=1');

    tlBt2.set($circlesBottomRight, { x: 0, y: 0, rotation: 45 });
    tlBt2.add(tl2);

    btTl.add(tlBt1);
    btTl.to($(this).parent().find('.button.effect-button'), 0.8, { scaleY: 1.1 }, 0.1);
    btTl.add(tlBt2, 0.2);
    btTl.to($(this).parent().find('.button.effect-button'), 1.8, { scale: 1, ease: Elastic.easeOut.config(1.2, 0.4) }, 1.2);

    btTl.timeScale(2.6);

    $(this).on('mouseover', function () {
      btTl.restart();
    });
  });
</script>

{% endblock script %} {% endcomment %}