{% extends 'basic.html' %}

{% load static %}

{% block body %}

{% if contests|length != 0 %}

{% block style %}
<style>
  body{
    background-color: black;
  }
</style>
{% endblock style %}

  <!-- slider -->

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        {% if contests.0.platform.platform_name == "CodeChef" %}
        <img src="{% static 'images/Blue Dynamic Fashion Special Sale Banner.png' %}" alt="Los Angeles" width="1100" height="500" />
        {% endif %}
        {% if contests.0.platform.platform_name == "CodeForces" %}
        <img src="{% static 'images/CodeForces.png' %}" alt="Los Angeles" width="1100" height="500" />
        {% endif %}
        {% if contests.0.platform.platform_name == "AtCoder" %}
        <img src="{% static 'images/atcoderbanner.png' %}" alt="Los Angeles" width="1100" height="500" />
        {% endif %}
        <div class="carousel-caption">
          
          <h3><a href="{{contests.0.contest_link}}" target="on_blank">{{contests.0.contest}}</a></h3>
          <p>{{contests.0.when}}</p>
          <p>{{contests.0.duration}} Hrs.</p>
        </div>
      </div>

      {% for contest in contests|slice:'1:' %}
      <div class="carousel-item ">
        {% if contest.platform.platform_name == "CodeChef" %}
        <img src="{% static 'images/Blue Dynamic Fashion Special Sale Banner.png' %}" alt="Los Angeles" width="1100" height="500" />
        {% endif %}
        {% if contest.platform.platform_name == "CodeForces" %}
        <img src="{% static 'images/CodeForces.png' %}" alt="Los Angeles" width="1100" height="500" />
        {% endif %}
        {% if contest.platform.platform_name == "AtCoder" %}
        <img src="{% static 'images/atcoderbanner.png' %}" alt="Los Angeles" width="1100" height="500" />
        {% endif %}
          
        <div class="carousel-caption">
          <div class="loggin">
          </div>
          <h3><a href="{{contest.contest_link}}" target="on_blank">{{contest.contest}}</a></h3>
          <p>{{contest.when}}</p>
          <p>{{contest.duration}} Hrs.</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" id="next1" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" id="next1" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  {% else %}
  <div class="no-content" >
    <h3  style="margin-left: 500px; margin-top: 200px; margin-bottom: 100px; color: white;">No Contests Available, Try Refreshing Data</h3>
  </div>
  
  
  {% endif %}

{% endblock body %}