<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OnAlert-Web Notifier</title>
    </head>
    <body>
        Home Page
        <div>
            {{type}} {% for contest in contests %}
            <div>
                {{contest.platform}} : {{contest.contest}} :
                {{contest.contest_link}} : {{contest.when}} :
                {{contest.duration}} hrs
            </div>
            {% endfor %}
        </div>
        <div>
            <a href="login"><button>Login</button></a>
        </div>
    </body>
</html>
